/* Reset default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #387373;
	color: #fff;
	padding: 10px 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: bold;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

nav ul li a:hover {
	text-decoration: underline;
}
footer {
	background-color: #c3ff54;
	color: #fff;
	padding: 20px 0;
	font-size: 0.9rem;
}
